<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/main.css">

  <title>Document</title>

  <script type="text/javascript" src="javascript/index.js"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Remote sprint planner</h1>
        <p>Make story points estimating with your team fun and efficient!</p>
        <button class="btn btn-primary btn-block" id="start">Get started</button>

        <form action="/sprints" method="POST" id="sprint-name-form" class="d-none">
          <div class="form-group">
            <label for="sprint-name">Start with a sprint name</label>
            <input class="form-control" name="sprint-name" placeholder="e.g. Service Ops sprint 10.06.2020">
          </div>
          <button class="btn btn-primary btn-block" type="submit">Next →</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>