<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/main.css">

  <title>{{ name }} | Sprint Planner</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  <script type="text/javascript" src="/javascript/room.js"></script>
</head>
<body>
    <div class="container">
      <div class="row">
        <div class="col">
          <div id="user-message-box"></div>
          <h1>Sprint: {{ name }}</h1>
        </div>
      </div>

      <div class="row" id="user-signup-ui-group">
        <div class="col">
          <form id="username-form">
            <div class="form-group">
              <label for="username">Tell everyone your name</label>
              <input class="form-control" name="username" placeholder="e.g. Nick">
              <button class="btn btn-primary" type="submit">Join this sprint →</button>
            </div>
          </form>
        </div>
      </div>

      <div class="row d-none" id="users-online-ui-group">
        <div class="col">
          <p>Active now:</p>
          <ul id="users-online-list"></ul>
        </div>
      </div>

      <div class="row d-none" id="vote-ui-group">
        <div class="col">
          <h2>My vote</h2>
          <div id="vote-buttons">
            <button class="btn btn-lg btn-primary" data-votevalue="1">1</button>
            <button class="btn btn-lg btn-primary" data-votevalue="2">2</button>
            <button class="btn btn-lg btn-primary" data-votevalue="3">3</button>
            <button class="btn btn-lg btn-primary" data-votevalue="5">5</button>
            <button class="btn btn-lg btn-primary" data-votevalue="8">8</button>
            <button class="btn btn-lg btn-primary" data-votevalue="13">13</button>
            <button class="btn btn-lg btn-primary" data-votevalue="21">21</button>
          </div>
          <ul id="list"></ul>
        </div>
      </div>
    </div>

   
</body>
</html>