#user-message-box {
  color: red;
}

#users-online-list {
  padding-left: 0;
}

#users-online-list li {
  margin-right: 1rem;
  min-width: 3rem;
}

button#start {
  margin-bottom: 1rem;
}

@keyframes fade {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

.form-group,
.form-control,
.btn {
  opacity: 1;
  animation: fade 0.5s linear;
}